#mypage{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
li{
    list-style: none;
}

#myInfo{
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
}

#myInfo img{
    width: 120px;
    height: 120px;
    margin-left: 50px;
}

#setting{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-left: auto;
    margin-right: 50px;
}
#setting #set{
    width: 30px;
    height: 30px;
    margin-right: 50px;
}

#id{
    margin-left: 50px;
}
#id #lv{
    font-size: 20px;
}
#id #idName{
    font-size: 30px;
    font-weight: bold;
}

#mywriteContent{
    display: flex;
    width: 90%;
    height: 500px;
    margin-top: 30px;
    border: 1px solid #ccc;
    flex-direction: column;
}
#mywrite{
    width: 100%;
}
.menu-item{
    display: inline-block;
    flex: 1;
    white-space: nowrap; /*줄바꿈 방지*/
    width: 33.3333%;
    height: 64px;
    background: #CCC;
    color: black;
    cursor: pointer;
    text-align: center;
    line-height: 64px;
    font-size: 20px;
}
.menu-item.active{
    background-color: #353535;
    color: white;
    cursor: default;
}
article{
    display: block;
    overflow-y: auto;
}

/* 마이페이지 메뉴 내용 */
#content{
    height: 400px;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
#bold{
    width: 95%;
    border: 1.5px solid black;
    margin-top: 30px;
}
.tag-content{
    font-weight: bold;
    font-size: 16px;
}
#order{margin-left: 80px;}
#title{margin-left: 250px;}
#author{margin-left: 300px;}
#date{margin-left: 180px;}
#general{
    width: 93%;
    border: 1px solid #CCC;
    margin-top: 10px;
}
#order{
    flex: 1;
    text-align: center;
}
#title{
    flex: 4;
    text-align: center;
    white-space: nowrap;
}
#author{
    flex: 2;
    text-align: center;
}
#date{
    flex: 2;
    text-align: center;
}

.post-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

#heart{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
#chat{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.data{
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-left: 10px;
}
#fix{
    margin-left: 60px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}
#delete{
    margin-left: 5px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}
#fix:hover, #delete:hover{
    background-color: #e0e0e0;
}
#wrap{
    flex: 4;
}
#empty{
    width: 100%;
    text-align: center;
    color: #a7a7a7;
}