nav{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #e9ecef;
    display: flex;
    justify-content: flex-end;
    padding : 0 20px;
    border-bottom: 1px solid #ccc;
}

nav button{
    background-color: transparent;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
}