.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #353535;
}

header h2{
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

main.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 90px;
    margin-bottom: 50px;
    overflow-y: auto;
    padding: 20px;
    background-color: #f8f9fa;
}

main.no-center{
    display: flex; 
    justify-content: center;
    flex: 1;
    margin-top: 90px;
    margin-bottom: 50px;
    overflow-y: auto;
    padding: 20px;
    background-color: #f8f9fa;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #353535;
}